---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1>Contact Us</h1>
  <p>If you have any questions or would like to contribute, please contact us at contact@example.com.</p>
</BaseLayout>
