---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
// const { children } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Knowledge Sharing Platform</title>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
